body {
  background-color: whitesmoke; }

.bigbox {
  overflow: hidden;
  overflow-y: hidden; }
  .bigbox .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 0.625rem 0; }
    .bigbox .top .top_min img {
      margin-left: 1.125rem;
      margin-top: 0.5rem;
      width: 1.075rem;
      height: 1.075rem; }
    .bigbox .top .top_min_1 p {
      margin-top: 0.5rem;
      margin-right: 2rem;
      font-size: 0.875rem;
      font-weight: 600; }
  .bigbox .yz {
    width: 100%;
    color: #999999;
    font-size: 0.625rem;
    margin-left: 1rem;
    padding: 0.625rem 0; }
  .bigbox .sf {
    overflow: hidden;
    background-color: white; }
    .bigbox .sf .sjh {
      overflow: hidden;
      border-bottom: 1px solid #b9b9b9;
      padding: 0.75rem 0; }
      .bigbox .sf .sjh img {
        float: left;
        width: 0.75rem;
        height: 1rem;
        margin-left: 1.5rem;
        margin-top: 0.675rem; }
      .bigbox .sf .sjh p {
        float: left;
        font-size: 0.75rem;
        margin-top: 0.75rem;
        margin-left: 0.375rem;
        color: #999999; }
    .bigbox .sf .yzm {
      float: right;
      font-size: 0.625rem;
      margin-right: 1.5rem;
      color: blue;
      margin-top: 0.75rem; }
  .bigbox .qd {
    background-color: white;
    padding: 1.75rem 0; }
  .bigbox .qd_1 {
    width: 65%;
    height: 1.75rem;
    background: #fe5319;
    border-radius: 50% / 180%;
    margin: 0 auto; }
    .bigbox .qd_1 a {
      display: block;
      text-align: center;
      color: white;
      line-height: 75px;
      font-size: 0.75rem;
      text-decoration: none; }
